#images-container {
    display: flex;
    /* Makes images display on multiple lines instead of just one */
    flex-wrap: wrap;
    /* 4px gutter in horizontal and vertical directions */
    column-gap: 4px;
    row-gap: 4px;

    /* justify-content align images on left-right edges but column-gap is ignored */
    justify-content: space-between;

    /* 4% padding from left-right edge */
    padding: 0% 4%;
}

.image {
    /* Image height fixed to 150px */
    height: 150px;
}